.container {
    width: 160px;
    height: 128px;
    box-sizing: border-box;
    padding: 16px;
    backdrop-filter: blur(8px);
    background-color: rgba(var(--main-rgb), 0.5);
    border-radius: 16px;
    transition: .2s;
}


.container:hover {
    border-radius: 8px;
    box-shadow: var(--accent) 0 0 16px;
    backdrop-filter: blur(12px);
}

.container.disable {
    background-color: rgba(var(--main-rgb), 0.1);
    box-shadow: none;
}

.container.disable:hover {
    backdrop-filter: blur(8px);
}

.date {
    font-size: 32px;
    line-height: 32px;
    color: var(--negative-main);
    margin-top: -8px;
    margin-bottom: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--negative-main);
}

p.disable {
    color: var(--disabled-text);
    -webkit-text-stroke-color: var(--disabled-text);
}

.todos {
    width: 100%;
    height: 64px;
    overflow-y: auto;
}

.todos::-webkit-scrollbar {
    width: 6px;
    border-radius: 999px;
    background-color: var(--background);
}

.todos::-webkit-scrollbar-thumb {
    background-color: var(--disabled-text);
    border-radius: 999px;
}

.todo {
    font-size: 16px;
    margin: 4px 0;
    line-height: 16px;
}