@import url("https://use.typekit.net/uiz1wzm.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color pallete */
  --light-main: #ffffff;
  --light-main-rgb: 255, 255, 255;
  --light-background: #eeeeee;
  --light-disabled-text: #888888;
  --dark-main: #303030;
  --dark-main-rgb: 48, 48, 48;
  --dark-background: #151515;
  --dark-disabled-text: #505050;
  --sub: #2c79ff;
  --accent: #1dd8ff;
}

html,
body {
  overflow-y: hidden;
  font-family: bungee, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: orbitron, sans-serif;
  font-weight: 900;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}


hr {
  background-color: var(--negative-main);
  border: none;
  width: 100%;
  height: 1px;
  margin: 4px 0;
}